h1,
p {
  font-family: Lato;
}
.Game-board {
  display: flex;
}
.letter {
  border: solid red 2px;
}
.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close-button {
  background: transparent;
  border: none;
  font-size: 40px;
  transform: rotate(45deg);
}
.modal-off {
  display: none;
}
.close-button:hover {
  color: red;
}
